// Breakpoints
$phone: 576px;
$tablet: 768px;
$large-tablet: 900px;
$small-desktop: 1150px;
$normal-desktop: 1600px;

// Fonts
$red-hat: 'Red Hat Display', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;

//Colors
$white: #fafafa;
$white-2: #d9d9d9;
$black: #000000;
$primary: #31dab5;
$primary-2: #7191f8;
$primary-2-light: #8ea7f8;
$primary-light: #89ffe5;
$primary-light-2: #31dab522;
$gray-border: #80808044;
$gray: #888888;
$gray-2: #303030;
$gray-3: #202020;
$light-gray: #ebebeb;
$shadow: #0000003e;
$shadow-2: #00000071;
