@import '../../styles/variables.scss';

@mixin row {
  display: flex;
  align-items: center;
}

.projectsMainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 150px 80px 200px;
  // background-image: url('../../assets/images/white-stripes.jpg');
  // background-size: cover;
  // background-attachment: fixed;

  @media screen and (max-width: $large-tablet) {
    height: auto;
    padding: 100px 30px 35px 30px;
  }

  @media screen and (max-width: $phone) {
    padding: 100px 20px 40px 20px;
  }

  .projectsContainer {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $large-tablet) {
      justify-content: space-between;
    }

    .projectContainer {
      width: 25%;
      margin: 0;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      transition: all ease 0.2s;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: $large-tablet) {
        width: 48%;
        padding: 15px 0px;
      }

      @media screen and (max-width: $phone) {
        padding: 5px 0px;
      }

      .img {
        width: 100%;
        border-radius: 10px;
        border: solid 1px $gray-border;
      }

      .overlay {
        margin: 15px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        color: transparent;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 10px;
        transition: all ease 0.2s;
        opacity: 0;
        border: solid 1px $gray-border;

        @media screen and (max-width: $large-tablet) {
          padding: 0px;
          margin: 15px 0px;
        }
      }

      .chip {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      &:hover {
        transform: scale(1.1);
        transition: all ease 0.2s;

        @media screen and (max-width: $phone) {
          transform: scale(1);
        }
      }

      &:active {
        transform: scale(1);
        transition: all ease 0.2s;
      }

      &:hover .overlay {
        background-color: #000000ea;
        opacity: 1;
        transition: 0.2s;
        color: $white-2;

        @media screen and (max-width: $phone) {
          display: none;
        }
      }
    }
    
  }


}

.modal {
  .header {
    gap: 20px;
  }

  .modalContentContainer {
    width: 100%;
    display: flex;

    @media screen and (max-width: $large-tablet) {
      flex-direction: column;
    }

    .imgContainer {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media screen and (max-width: $large-tablet) {
        width: 100%;
      }

      .img {
        width: 100%;
        border-radius: 10px;
      }

      .chip {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .infoContainer {
      width: 50%;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: $large-tablet) {
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
      }

      .subContainer {
        @include row;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;

        .linksContainer {
          @include row;
          gap: 10px;
        }
      }
    }
  }
}

