@import '../../styles/variables.scss';

.heroMainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .backgroundImgLight {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../../assets/images/white-background.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .backgroundImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../../assets/images/skylar.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}