@import '../../styles/variables.scss';

.contactMainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 150px 100px 150px;
  transition: all ease 0.3s;
  background-image: url('../../assets/images/black-sky.jpg');
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: $large-tablet) {
    height: auto;
    padding: 100px 30px 60px 30px;
    flex-direction: column;
  }

  @media screen and (max-width: $phone) {
    padding: 100px 20px 60px 20px;
  }
}

.cardContentContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $large-tablet) {
    flex-direction: column;
  }

  .subContainer1 {
    width: 45%;

    @media screen and (max-width: $large-tablet) {
      width: 100%;
      margin-bottom: 60px;
    }

    .row {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;

      .iconContainer {
        position: absolute;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        right: 0;
        cursor: pointer;
        transition: all ease 0.2s;

        &:active {
          opacity: 0.5;
          transition: all ease 0.2s;
        }
      }
    }
  }

  .subContainer2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: $large-tablet) {
      width: 100%;
    }
  }

  .text {
    align-self: center;
    margin-bottom: 60px;
  }
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}