@import '../../styles/variables.scss';

.aboutMainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 150px 100px 200px;
  background-image: url('../../assets/images/dark-dune.jpg');
  background-size: cover;
  background-attachment: fixed;
  transition: all ease 0.3s;

  .about {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    @media screen and (max-width: $large-tablet) {
      flex-direction: column;
    }

    .textContainer {
      width: 45%;

      @media screen and (max-width: $large-tablet) {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $large-tablet) {
    height: auto;
    padding: 100px 30px 60px 30px;
    flex-direction: column;
  }

  @media screen and (max-width: $phone) {
    padding: 100px 20px 60px 20px;
  }
}