@import '../../../styles/variables.scss';

.mainContainerViewLayout {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  position: relative;

  @media screen and (max-width: $large-tablet) {
    height: auto;
    scroll-snap-align: unset;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 30px 0px 80px;

    @media screen and (max-width: $large-tablet) {
      padding: 40px 30px 0px 30px;
    }

    @media screen and (max-width: $phone) {
      padding: 40px 20px 0px 20px;
    }
  }
}